body {
    padding: 0;
    margin: 0;
   
    font-size: 20px;
    box-sizing: border-box;
    /* min-width: 1200px; */
    overflow-x: hidden;
    font-weight: 900;
}

header,
nav,
section,
aside,
footer {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


#main_header {
    background-color: black;
    width: 100%;
    height: 100px;
    position: sticky;
    z-index: 10;
    top: 0px;
}

.main_header_sec {
    width: 100%;
    height: 100px;
    clear: both;
    position: relative;
}

.main_header_img {
    width: 400px; 
    position: relative;
    box-sizing: border-box;
    float: left;
    padding-top: 9px;
    height: 100px;
    text-align: center;
}

.main_header_img>img {
    position: relative;
    width: 80px;
    align-content: center;
}

/* .main_header_img>p {
    position: absolute;
    top: 30%;
    left: 170px;
    color: white;
    float: left;
    width: 300px;

} */

.main_header_menu {
    position: absolute;
    right: 60px;
    font-size: 20px;
    height: 100px;
}

.main_header_menu>div>li {
    float: left;
    height: 100px;
    width: 150px;
    line-height: 60px;
    position: relative;
    /* background-color: rgb(87, 93, 76); */
}
.main_header_menu>div>li>a>p{
    font-family: "Roboto Condensed";
    font-weight:500;
}
#main_img {
    position: relative;
    width:100%;
    height: 750px;
     overflow: hidden;
}

.main_img_sli {
    position: relative;
    width: 100%;
    height: 750px;
}

.main_img_sli>img {
    width: 100%;
    height: 750px;
}

.main_img_sli>img {
    /* width: 100%; */
    height: 650px;

}
.slick-next {
    left: 0px;
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 0px;
    /* display: block;  */
    display: none;
    width: 0px;
    height: 0px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    /* color: transparent; */
    border: none;
    outline: none;
    /* background: rgb(246, 237, 255); */
}

.slick-prev {
    left: 0px;
    font-size: 0px;
    line-height: 0;
    position: absolute;
    top: 10px;
    /* display: block;  */
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    background: rgb(255, 255, 255);
}
#fter{
    position: relative;
    width: 100%;
    background-color: rgb(255, 88, 88);
}